<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User_roles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row" style="background:#282727; color:#fff;">
            <div class="col-10">
                <ul class="list-inline" style="margin:10px">
                    <strong>
                        <li class="list-inline-item" th:text="${singleUser.getEmail()}"></li>
                    </strong>
                    <li class="list-inline-item">with roles:</li>
                    <li class="list-inline-item" th:text="${singleUser.getStringRoles()}"></li>
                </ul>
            </div>

            <div class="col-2" style="text-align:right ; margin-top: 10px;">
                <a href="/logout" class="text-decoration-none">
                    <p class="text-white-50"> Logout</p>
                </a>
            </div>
        </div>
    </div>
</header>


<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2" style="padding-top: 10px">
                <ul class="nav nav-pills flex-column">
                    <div sec:authorize="hasRole('ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" th:href="@{/admin}">Admin</a>
                        </li>
                    </div>
                    <div sec:authorize="hasRole('USER')">
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/user}">User</a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="col-10"
                 style="background-color: rgba(249, 249, 249, 0.859); padding-top: 10px; padding-bottom: 10px">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#add" role="tab"
                           aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                         style="margin-left: 10px; margin-right:10px;">
                        <div class="row">
                            <div class="col" style="padding-top: 10px; padding-bottom: 10px; padding-left:35px;">
                                <h4>All users</h4>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.getStringRoles()}"></td>
                                <!-- -----------------------------------Modal stuff table------------------------------------------------ -->
                                <div class="text-center">
                                    <td>
                                        <button type="button" class="btn btn-info" th:href="${'#edit' + user.getId()}"
                                                data-toggle="modal">Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:href="${'#delete' + user.getId()}">Delete
                                        </button>
                                    </td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- -----------------------------------Modal stuff windows------------------------------------------------ -->
                    <div class="modal fade" tabindex="-1" th:each="userToEdit : ${users}"
                         th:id="${'edit' + userToEdit.getId()}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="PUT" th:action="@{/admin}" th:object="${userToEdit}">
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="idEdit"><strong>ID</strong></label>
                                                <input type="text" class="form-control" id="idEdit"
                                                       th:value="${userToEdit.id}" th:name="id" readonly>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="nameEdit"><strong>First name</strong></label>
                                                <input type="text" class="form-control" id="nameEdit"
                                                       th:value="${userToEdit.name}" th:name="name">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="LastnameEdit"><strong>Last name</strong></label>
                                                <input type="text" class="form-control" id="LastnameEdit"
                                                       th:value="${userToEdit.lastName}" th:name="lastName">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="ageEdit"><strong>Age</strong></label>
                                                <input type="text" class="form-control" id="ageEdit"
                                                       th:value="${userToEdit.age}" th:name="age">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="emailEdit"><strong>Email</strong></label>
                                                <input type="text" class="form-control" id="emailEdit"
                                                       th:value="${userToEdit.email}" th:name="email">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="passwordEdit"><strong>Password</strong></label>
                                                <input type="text" class="form-control" id="passwordEdit"
                                                       th:name="password">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="rolesEdit"><strong>Role</strong></label>
                                                <select multiple class="form-control" id="rolesEdit"
                                                        th:value="${userToEdit.roles}" th:name="roles">
                                                    <option th:each="role : ${allRoles}"
                                                            th:value="${role.id}"
                                                            th:text="${#strings.replace(role.name, 'ROLE_', '')}">
                                                    </option>
                                                </select>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" tabindex="-1" th:each="userToDelete: ${users}"
                         th:id="${'delete' + userToDelete.getId()}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="DELETE" th:action="@{/admin}" th:object="${userToDelete}">
                                        <input type="hidden" name="id" th:value="${userToDelete.id}">
                                        <fieldset disabled>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="idDelete"><strong>ID</strong></label>
                                                    <input type="text" class="form-control" id="idDelete"
                                                           th:value="${userToDelete.id}" th:name="id">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="nameDelete"><strong>First name</strong></label>
                                                    <input type="text" class="form-control" id="nameDelete"
                                                           th:value="${userToDelete.id}" th:name="id">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="lastnameDelete"><strong>Last name</strong></label>
                                                    <input type="text" class="form-control" id="lastnameDelete"
                                                           th:value="${userToDelete.id}" th:name="id">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="ageDelete"><strong>Age</strong></label>
                                                    <input type="text" class="form-control" id="ageDelete"
                                                           th:value="${userToDelete.id}" th:name="id">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="emailsDelete"><strong>Email</strong></label>
                                                    <input type="email" class="form-control" id="emailsDelete"
                                                           th:value="${userToDelete.id}" th:name="id">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="rolesDelete"><strong>Role</strong></label>
                                                    <select multiple class="form-control" id="rolesDelete"
                                                            th:value="${userToDelete.roles}" th:name="roles">
                                                        <option th:each="role : ${userToDelete.roles}"
                                                                th:value="${role.id}"
                                                                th:text="${#strings.replace(role.name, 'ROLE_', '')}">
                                                        </option>
                                                    </select>
                                                </p>
                                            </div>
                                        </fieldset>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -----------------------------------Modal stuff OUT------------------------------------------------ -->

                    <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col" style="padding-top: 10px; padding-bottom: 10px; padding-left:35px;"><h4>Add
                                new user</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <form th:method="POST" th:action="@{/admin}" th:object="${emptyUser}">
                                    <div class="form-group">
                                        <p class="text-center">
                                            <label for="name"><strong>First name</strong></label>
                                            <input type="text" class="form-control" id="name" th:field="*{name}">
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center">
                                            <label for="lastname"><strong>Last name</strong></label>
                                            <input type="text" class="form-control" id="lastname"
                                                   th:field="*{lastName}">
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center">
                                            <label for="age"><strong>Age</strong></label>
                                            <input type="text" class="form-control" id="age" th:field="*{age}">
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center">
                                            <label for="emails"><strong>Email</strong></label>
                                            <input type="text" class="form-control" id="emails" th:field="*{email}">
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center">
                                            <label for="pass"><strong>Password</strong></label>
                                            <input type="password" class="form-control" id="pass"
                                                   th:field="*{password}">
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center">
                                            <label for="roleall"><strong>Role</strong></label>
                                            <select multiple class="form-control" id="roleall" th:field="*{roles}">
                                                <option th:each="role : ${allRoles}"
                                                        th:value="${role.id}"
                                                        th:text="${#strings.replace(role.name, 'ROLE_', '')}">
                                                </option>
                                            </select>
                                        </p>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--    <script src=https://code.jquery.com/jquery-3.0.0.min.js></script>-->
<!--&lt;!&ndash;    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>&ndash;&gt;-->

<!--    <script>-->
<!--        $('document').ready(function(){-->
<!--            $('.table .btn').on('click',function(event){-->
<!--                event.preventDefault();-->

<!--                var href = $(this).attr('href');-->

<!--                $.get(href, function(user,status){-->
<!--                    $('#idEdit').val(user.id);-->
<!--                    $('#nameEdit').val(user.name);-->
<!--                    $('#lastnameEdit').val(user.lastName);-->
<!--                    $('#ageEdit').val(user.age);-->
<!--                    $('#emailEdit').val(user.email);-->
<!--                    $('#passwordEdit').val(user.password);-->
<!--                    $('#rolesEdit').val(user.roles);-->
<!--                });-->

<!--                $('#modal1').modal();-->
<!--            });-->
<!--        });-->
<!--    </script>-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>